---
import AlarmIcon from "./icons/AlarmIcon.astro";
---

<footer class="footer">
  <div class="footer-left">
    <ul class="social-icon">
      <li class="icon-elem">
        <a href="" class="icon">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
      <li class="icon-elem">
        <a href="https://wa.me/3218426226" class="icon">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon">
          <AlarmIcon />
        </a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon">
          <!-- <ion-icon name="mail-outline"></ion-icon> -->
           <AlarmIcon />
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu-elem">
        <a href="" class="menu-icon"> Inicio </a>
      </li>
      <li class="menu-elem">
        <a href="" class="menu-icon"> Equipo </a>
      </li>
      <li class="menu-elem">
        <a href="" class="menu-icon"> Contacto </a>
      </li>
      <li class="menu-elem">
        <a href="" class="menu-icon"> Video </a>
      </li>
      <li class="menu-elem">
        <a href="" class="menu-icon"> Sobre Nosotros </a>
      </li>
    </ul>
  </div>
  <div class="footer-right">
    <p class="text">
      Direccion<address>Cra 74#53-118, Medellin, Colombia</address>
    </p>
  </div>
</footer>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  address {
    color: #b18f7f;
  }

  .footer {
    border-top: 2px solid #b18f7f;
    background: #fff5f0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    bottom: 0;
    left: 0;
  }

  .footer-left {
    flex-basis: 66.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    font-size: 20px;
    font-weight: bold;
    color: #b18f7f;
    margin-bottom: 5px;
    text-align: center;
  }

  address {
    font-size: 16px;
    color: #b18f7f;
    text-align: center;
  }

  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }

  .icon-elem {
    list-style: none;
  }

  .icon {
    color: #b18f7f;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }

  .icon:hover {
    transform: translateY(-10px);
  }

  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: #b18f7f;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }

  .menu-icon:hover {
    opacity: 1;
  }

  .text {
    color: #b18f7f;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }
</style>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
