<button class="button-container">Shop Now</button>


<style>
    .button-container {
        color: #612615;
        font-size: 24px;
        font-weight: 900;
        border-radius: 25px;
        padding: 20px 30px;
        background-color: #ffff;
        border: none;
        box-shadow: 1px 4px 7px #b18f7f;
    }

    .button-container:active {
    }

    .button-container:hover {
        cursor: pointer;
    }

</style>